---
import data from "../../data/catalog.json";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  return data.categories.map((cat) => ({
    params: { id: cat.id },
  }));
}

const { id } = Astro.params;
const category = data.categories.find((cat) => cat.id === id);
const products = data.products.filter((prod) => prod.category === id) || [];
---

<Layout>
  <div class="w-full flex flex-col mt-4">
    <div class="w-full flex items-center justify-center">
      <img src={category?.logo} alt={category?.title} class="w-60" />
    </div>
    <h2 class="text-2xl font-bold ml-30 mt-4">
      <a href="/categories">PRODUCTOS/</a>
      <span class="text-secundario">{category?.title}</span>
    </h2>
    {
      products.length > 0 ? (
        <div class="grid grid-cols-2  md:grid-cols-3 lg:grid-cols-5 gap-4 mt-20 justify-items-center lg:mx-20">
          {products.map((product) => (
            <a class="w-52 hover:scale-105 transition-transform hover:cursor-pointer" href={`/product/${product.id}`}>
              <img
                src={product.images[0]}
                alt={product.title}
                class="w-full h-48 object-contain mb-2"
                transition:name={product.id}
              />
              <div class="bg-gray-200 flex flex-col items-center rounded-2xl h-28 justify-evenly">
                <h3 class="text-xl  text-principal text-center">
                  {product.title}
                </h3>
                <p class="text-xl font-bold mt-2 text-secundario">
                  USD$ {product.basePrice.toFixed(2)}
                </p>
              </div>
            </a>
          ))}
        </div>
      ) : (
        <p class="text-gray-500">No hay productos en esta categoría.</p>
      )
    }
  </div>
</Layout>
