---
import data from "../../data/catalog.json";
import star from "../../assets/icons/star.png";
const categories = data.categories;
---

<div class="w-full flex flex-col justify-center items-center my-10">
  <h2 class="text-7xl font-bold">
    <span class="text-secundario uppercase">PRODUCTOS</span>
  </h2>
  <p class="text-gray-400 max-w-5xl text-sm text-center mb-20 mt-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    nemo veritatis ipsum placeat doloremque sit omnis reprehenderit ea quas,
    aliquam nostrum dicta! Voluptatem nisi quasi qui illo assumenda distinctio.
  </p>
  <div class="flex">
    {
      categories.map((cat) => (
        <div class="flex flex-col items-center justify-center gap-5 w-1/4 p-4">
          <img
            src={cat.image}
            alt={cat.title}
            class="h-72  object-cover rounded"
          />

          <div class="relative bg-gray-100 rounded p-10 text-center">
            <img
              src={star.src}
              alt="estrella"
              class="
          absolute
          -top-14
          left-1/2
          transform -translate-x-1/2
          p-2
          rounded-full
          w-25 h-25
          z-10
        "
            />

            <h2 class="text-4xl">{cat.title}</h2>
            <p class="text-gray-400 max-w-xs mx-auto mt-2">{cat.description}</p>
            <a
              href={`/category/${cat.id}`}
              class="text-secundario underline decoration-2 decoration-secundario mt-4 inline-block"
            >
              read more
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
