---
import Innovacion from "../../assets/icons/innovacion.png";
import Calidad from "../../assets/icons/calidad.png";
import Experiencia from "../../assets/icons/experiencia.png";
import Clientes from "../../assets/icons/clientes.png";
import Soporte from "../../assets/icons/soporte.png";
---
<div class="w-full flex flex-col justify-center items-center my-30">
    <h2 class="text-7xl font-bold text-center">
      <span class="text-black uppercase">Nuestras</span>
      <span class="text-secundario uppercase">ventajas</span>
    </h2>
    <p class="text-gray-400 max-w-5xl text-sm text-center mb-20 mt-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      officia nemo veritatis ipsum placeat doloremque sit omnis reprehenderit ea
      quas, aliquam nostrum dicta! Voluptatem nisi quasi qui illo assumenda
      distinctio.
    </p>
    <div class="flex flex-wrap justify-center items-center gap-7">
      <div class="flex flex-col items-center justify-center gap-5">
        <div
          class="rounded-full bg-gray-200 flex size-50 items-center justify-center"
        >
          <img src={Innovacion.src} alt="Innovación" />
        </div>
        <p class="text-xl text-center">INNOVACIÓN</p>
        <p class="text-gray-400 max-w-xs text-center">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
          rerum minima maxime error non, consequuntur at repellendus natus ex
        </p>
      </div>
      <div class="flex flex-col items-center justify-center gap-5">
        <div
          class="rounded-full bg-gray-200 flex size-50 items-center justify-center"
        >
          <img src={Calidad.src} alt="Calidad" />
        </div>
        <p class="text-xl text-center">CALIDAD</p>
        <p class="text-gray-400 max-w-xs text-center">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
          rerum minima maxime error non, consequuntur at repellendus natus ex
        </p>
      </div>
      <div class="flex flex-col items-center justify-center gap-5">
        <div
          class="rounded-full bg-gray-200 flex size-50 items-center justify-center"
        >
          <img src={Experiencia.src} alt="Experiencia" />
        </div>
        <p class="text-xl text-center">EXPERIENCIA</p>
        <p class="text-gray-400 max-w-xs text-center">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
          rerum minima maxime error non, consequuntur at repellendus natus ex
        </p>
      </div>
      <div class="flex flex-col items-center justify-center gap-5">
        <div
          class="rounded-full bg-gray-200 flex size-50 items-center justify-center"
        >
          <img src={Clientes.src} alt="Clientes" />
        </div>
        <p class="text-xl text-center">CLIENTES</p>
        <p class="text-gray-400 max-w-xs text-center">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
          rerum minima maxime error non, consequuntur at repellendus natus ex
        </p>
      </div>
      <div class="flex flex-col items-center justify-center gap-5">
        <div
          class="rounded-full bg-gray-200 flex size-50 items-center justify-center"
        >
          <img src={Soporte.src} alt="Soporte" />
        </div>
        <p class="text-xl text-center">SOPORTE</p>
        <p class="text-gray-400 max-w-xs text-center">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
          rerum minima maxime error non, consequuntur at repellendus natus ex
        </p>
      </div>
    </div>
  </div>